#contacto{
    padding: 1em 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1em;
    flex-direction: column;
    width: 100vw;
}

#contacto article {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:4em;
}

#contacto article .box-social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2em;
    width: 300px;
    background-color: var(--card);
    padding:1em;
    box-shadow: 1px 1px 10px #fff;
}

#contacto article .box-social .nav-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2em;
}

#contacto article .box-social .social-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3px;
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    padding: 0.4em 1em;
    background-color: rgba(0, 0, 0, 0.151);
    width: 100%;
    border-radius: 10px 0 10px 0;
    transform: 200ms all;
}

#contacto article .box-social .social-title:hover{
   border-left: solid 4px #fff;
   background-color: rgb(66, 64, 64);
   color:var(--pinck);
}

#contacto article .box-social .globe{
    color:#fff;
    font-size: 60px;
}

.foundation{
    color:#fff;
}

#contacto .contact-title{
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px 0;
}

#contacto form {
    width: 300px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5em;
    background-color: var(--card);
    box-shadow: 1px 1px 10px #fff;
}

#contacto form fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5em;
    border: none;
}


form ion-icon{
    color: #fff;
    font-size: 60px;
}
form .input-text{
    width: 100%;
    outline: none;
    text-align: center;
    padding: 0.5em 0.3em;
    resize: none;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

form textarea{
    border: none;
    width: 100%;
    outline: none;
    text-align: center;
    padding: 0.3em;
    resize: none;
    min-height: 100px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

form .submit {
    width: 100px;
    padding: 0.3em 0.6em;
    font-size: 20px;
    color: #fff;
    background-color: var(--pinck);
    border: none;
    border-radius: 6px;
}